
.weather-container {
    display: flex; /* or inline-flex */
}
.titolo-giorno{

    color: #202124;
    border: 1px solid black;
    font-family: arial,sans-serif;
    font-size: medium;
    font-weight: normal;

}
.temp-min {
    font-style: italic;
    font-color: red;

}
.temp-max {
    font-style: initial;
    font-weight: bold;

}


