<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.all @ categories='aemtraining.coinmarket'}"/>
</sly>
<div class="coinmarket-container">
   <script id="coinmarket-template" type="text/x-handlebars-template">
        {{#each coinMarketList}
        div class="element-style">
        <span class="name-coin">{{nameBtc}}</span>
        <span class="price-coin">{{priceBtc}}; </span> /
        <span class="dailystatus-percentage">{{dailystatusBtc}};</span>
        <span class="weeklystatus-percentage">{{weeklystatusBtc}};</span>
    </div>
      {{/each}}
    </script>
</div>